.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.errorModal {
  background: #fff;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%), 0px 11px 15px -7px rgb(0 0 0 / 20%);
  
  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__content__close {
    position: absolute;
    top: 10px;
    right: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
    font-size: 18px;
  }

  &__message {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    text-align: center;
  }
}

.errorModal__title {
  font-size: 1.5em;
  margin-bottom: 16px;
  text-align: center;
}

.errorModal__closeButton {
  margin: 16px auto;
  display: block;
  border: none;
  color: #fff;
  background-color: #3e7bea;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  
  &:disabled {
    background-color: cornflowerblue;
    cursor: not-allowed;
  }
}
